h1{
    font-family: "Roboto", sans-serif;
    color: rgb(94, 128, 127);
    font-size: 60px;
    text-align: center;
}

p{
    font-family: "Roboto", sans-serif;
    background-color: rgb(96, 49, 64);
    font-size: 25px;
    color: white;
}

body{
    background-color: rgb(206, 181, 183);

}

ul{
    font-size: 20px;
    margin-left: 30px;
    font-weight: 700;
    border: 6px solid rgb(96, 49, 64);
    background-color: rgb(202, 226, 188);
}

img {
    border-radius: 50%;
    padding: 10px;
    background-color: rgb(202, 226, 188);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

#minhaFoto {
    float: left;
    margin: 10px;
}

.img-container {
    height: 300px;
}

ul li:nth-of-type(even) {
    background-color: rgb(197, 216, 109);
}

ul li:nth-of-type(odd) {
    background-color: rgb(94, 128, 127);
}